# Eclipse
.metadata
RemoteSystemsTempFiles

# JetBrains
.idea
*.eml

# For Atom
.apmrc
compile-cache

# For ctags
tags
tags.*

# Any local files
*.local.*

# Backup files
*.bak

# LazyVim
nvim/lazy-lock.json

#tmp
!.gitkeep
tmp/
!tmp/.gitkeep
logs/

.bash_history

calibre/calibre/gui.json
calibre/calibre/dynamic.pickle.json

